/*
http://colorschemedesigner.com/#4631SjzmRoHwt
*/

body, html {
    height: 100%;
}

body {
    background-color: #DBD792;
}

.wrapper {
    min-height: 100%;
    background-color: #DBC092;
    background-image: url("../img/LoadFrock.png");
    background-repeat: no-repeat;
    background-position: 10em 13em;
}

.modal-content {
    background-color: #fffed7;
}

.slave-section {
    background-color: #DBD792;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}

.slave-section h2 {
    padding: 0px;
    margin: 0px;
}

.slave-header {
    background-color: #DBB677;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.slave-header .glyphicon-button {
    margin-top: -.2em;
}
.slave-header:hover {
    background-color: #eee;
}

.slave-body {
    padding: 15px;
}
.slave-body h3 {
    margin-top: 0;
}
.progress-bar {
    white-space: nowrap;
}

.no-slaves {
    padding: 10px;
    font-weight: bold;
}

.wide-button {
    width: 100%;
}

.form-control {
    background-color: #fffed7;
    border-color: #a09a3d;
}

.load-button {
    margin-bottom: 10px;
}

.header-buttons {
    margin-top: 1.6em;
}

.glyphicon-button:hover {
    cursor: pointer;
    color: #555;
}
.glyphicon-button {
    padding: 3px;
    margin-left: 5px;
    font-size: 1.35em;
}

.alert.save-successful {
    cursor: pointer;
}

.action-group {
    padding: 10px;
}

.action-header {
    background-color: #DBD792;
    border-radius: 8px;
    padding-top: 12px;
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
}

.action-left-button {
    cursor: pointer;
    font-size: 2em;
    margin-top: .75em;
}
.action-dragger {
    cursor: move;
}

.action-body {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fffde1;
    padding-top: 20px;
    margin-top: -10px;
    z-index: 10;
}

textarea {
    resize: none;
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition: 0.05s;
    -o-transition: 0.05s;
}